# For d(i) “/degree/eveningmba/” is replaced with “/part-time-mba/”
RewriteRule ^degree/eveningmba(.*)$ /part-time-mba$1 [L,R=302] 

# For d(ii) Result: “/degree/memba” is replaced with “/emba/modular/”
RewriteRule ^degree/memba(.*)$ /emba/modular$1 [L,R=302] 

# For d(iii) "Result: “/degree/msba” is replaced with “/msba/”"     
RewriteRule ^degree/msba(.*)$ /msba$1 [L,R=302] 

# For d(iv) "Result: “/degree/one_year_mba” is replaced with “/full-time-mba/one-year-mba/”
# For d(vi) "Result: “/degree/two_year_mba” is replaced with “/full-time-mba/two-year-mba/” 
RewriteRule ^degree/(one_year_mba|two_year_mba)(.*)$ /full-time-mba/$1$2 [L,R=302] 

# For d(v) "Result: “/degree/phd” is replaced with “/phd/”"
RewriteRule ^degree/phd(.*)$ /phd$1 [L,R=302] 

# For d(vii) "Result: “/degree/undergraduate” is replaced with “/undergraduate-business-degree/”"
RewriteRule ^degree/undergraduate(.*)$ /undergraduate-business-degree$1 [L,R=302] 

# For d(viii) "Result: “/degree/wemba” is replaced with “/emba/weekend/”"
RewriteRule ^degree/wemba(.*)$ /emba/weekend$1 [L,R=302] 

# For d(ix) "Result: “/aboutgoizueta/” is replaced with “/about/”"
RewriteRule ^aboutgoizueta(.*)$ /about$1 [L,R=302] 

# For d(x) "Result: “/strategicplan/” is replaced with “/strategic-plan/”"
RewriteRule ^strategicplan(.*)$ /strategic-plan$1 [L,R=302] 

# For d(xi) "Result: “/executiveprograms/” is replaced with “/executive-education/”"
RewriteRule ^executiveprograms(.*)$ /executive-education$1 [L,R=302] 

# For e "All URLs containing “/experience/” should 302 to https://goizueta.emory.edu/about"
RewriteRule ^experience(.*) /about [L,R=302]


# For NEW "we need to extract “display.aspx?username=” from the url for all faculty 
# and then swap the order of firstname string and lastname string"
RewriteRule faculty/profiles/display.aspx?username=(.*)_(.*)$ /faculty/profiles/$2-$1 [L,R=302]


# 55 -- degree/emba/ is redirected to emba/weekend/
RewriteRule ^/degree/emba/$ /emba/weekend/ [L,R=302]

#56 -- degree/emba/admissions/(.*) is replaced with emba/weekend/admissions
RewriteRule ^/degree/emba/admissions/(.*)$ /emba/weekend/admissions/$1 [L,R=302]

#57 -- degree/emba/career/(.*) is replaced with emba/weekend/career
RewriteRule ^/degree/emba/career/(.*)$ /emba/weekend/career/$1 [L,R=302]

#58 -- degree/emba/curriculum/(.*) is replaced with emba/weekend/academics
RewriteRule ^degree/emba/curriculum/(.*)$ /emba/weekend/academics/$1 [L,R=302]

#59 -- degree/emba/index.html is redirected to emba/
RewriteRule ^degree/emba/index.html$ /emba/ [L,R=302]

#60 -- degree/emba/memba/(.*) is replaced with emba/modular
RewriteRule ^degree/emba/memba/(.*)$ /emba/modular/$1 [L,R=302]

#61 -- degree/emba/wemba/(.*) is replaced with emba/weekend
RewriteRule ^degree/emba/wemba/(.*)$ /emba/weekend/$1 [L,R=302]

#62 -- degree/fulltimemba/admissions is redirected to full-time-mba/two-year-mba/admissions
RewriteRule ^degree/fulltimemba/admissions$ /full-time-mba/two-year-mba/admissions [L,R=302]

#63 -- degree/fulltimemba/curriculum/ is redirected to full-time-mba/two-year-mba/academics
RewriteRule ^degree/fulltimemba/curriculum/$ /full-time-mba/two-year-mba/academics [L,R=302]

#64 -- degree/fulltimemba/index.html is redirected to full-time-mba
RewriteRule ^degree/fulltimemba/index.html$ /full-time-mba [L,R=302]

#65 -- degree/fulltimemba/life/ is redirected to full-time-mba/two-year-mba/life
RewriteRule ^degree/fulltimemba/life/$ /full-time-mba/two-year-mba/life [L,R=302]

#66 -- degree/fulltimemba/one_year_mba/ is redirected to full-time-mba/one-year-mba
RewriteRule ^degree/fulltimemba/one_year_mba/$ /full-time-mba/one-year-mba [L,R=302]

#67 -- degree/fulltimemba/two_year_mba/ is redirected to full-time-mba/two-year-mba
RewriteRule ^degree/fulltimemba/two_year_mba/$ /full-time-mba/two-year-mba [L,R=302]

#68 -- degree/phd/accounting/(.*) is replaced with phd/academics/accounting
RewriteRule ^degree/phd/account/(.*)$ /phd/academics/accounting/$1 [L,R=302]

#69 -- degree/phd/finance/(.*) is replaced with to phd/academics/finance
RewriteRule ^degree/phd/finance/(.*)$ /phd/academics/finance/$1 [L,R=302]

#70 -- degree/phd/information_systems/(.*) is replaced with phd/academics/information-systems
RewriteRule ^degree/phd/information_systems/(.*)$ /phd/academics/information-systems/$1 [L,R=302]

#71 -- degree/phd/marketing/(.*) is replaced with phd/academics/marketing
RewriteRule ^degree/phd/marketing/(.*)$  /phd/academics/marketing/$1 [L,R=302]

#72 -- degree/phd/organization_management/(.*) is replaced with phd/weekend/organization-management
RewriteRule ^degree/phd/organization_management/(.*)$ /phd/weekend/organization-management/$1 [L,R=302]

#73 -- degree/undergra_prog.html is redirected to undergraduate-business-degree
RewriteRule ^degree/undergra_prog.html$ /undergraduate-business-degree [L,R=302]

#74 -- degree/undergraduate/curricular_options/advising_support.html is redirected to undergraduate-business-degree/curriculum/advising
RewriteRule ^degree/undergraduate/curricular_options/advising_support.html$ /undergraduate-business-degree/curriculum/advising [L,R=302]

#75 -- degree/undergraduate/curricular_options/arts.html is redirected to undergraduate-business-degree/academic-pathways/concentrations
RewriteRule ^degree/undergraduate/curricular_options/(arts|concentrations|environment|film|health_innovation).html$ /undergraduate-business-degree/academic-pathways/concentrations [L,R=302]

#76 -- degree/undergraduate/curricular_options/concentrations.html is redirected to undergraduate-business-degree/academic-pathways/concentrations
#See #75

#77 -- degree/undergraduate/curricular_options/environment.html is redirected to undergraduate-business-degree/academic-pathways/concentrations
#See #75

#78 -- degree/undergraduate/curricular_options/film.html is redirected to undergraduate-business-degree/academic-pathways/concentrations
#See #75

#79 -- degree/undergraduate/curricular_options/health_innovation.html is redirected to undergraduate-business-degree/academic-pathways/concentrations
#See #75

#80 -- degree/undergraduate/curricular_options/index.html is redirected to undergraduate-business-degree/academic-pathways
RewriteRule ^degree/undergraduate/curricular_options/index.html$ /undergraduate-business-degree/academic-pathways [L,R=302]

#81 -- degree/undergraduate/curriculum/mpa.html is redirected to undergraduate-business-degree/academic-pathways/dual-degrees
RewriteRule ^degree/undergraduate/curriculum/mpa.html$ /undergraduate-business-degree/academic-pathways/dual-degrees [L,R=302]

#82 -- degree/undergraduate/curriculum/secondary_area_depths.html is redirected to undergraduate-business-degree/academic-pathways/majors#secondary
RewriteRule ^degree/undergraduate/curriculum/secondary_area_depths.html$ /undergraduate-business-degree/academic-pathways/majors#secondary [L,R=302]

#83 -- degree/undergraduate/international/after/index.html is redirected to undergraduate-business-degree/academic-pathways/exchange-study
RewriteRule ^degree/undergraduate/international/after/index.html$ /undergraduate-business-degree/academic-pathways/exchange-study [L,R=302]

#84 -- degree/undergraduate/international/before/index.html is redirected to undergraduate-business-degree/academic-pathways/exchange-study#before
RewriteRule ^degree/undergraduate/international/before/index.html$ /undergraduate-business-degree/academic-pathways/exchange-study#before [L,R=302]

#85 -- degree/undergraduate/international/during/index.html is redirected to undergraduate-business-degree/academic-pathways/exchange-study#during
RewriteRule ^degree/undergraduate/international/during/index.html$ /undergraduate-business-degree/academic-pathways/exchange-study#during [L,R=302]

#86 -- faculty/academic_areas/(.*)/(.*)(.....) to https://goizueta.emory.edu/faculty/profiles/display.aspx?username={R:2}
RewriteRule ^faculty/academic_areas/(.*)/(.*)(.....) /faculty/profiles/display.aspx?username=$2 [L,R=302]

#87 -- Redirect faculty/academic_areas/(.*)/(.+)-(.+)(.....) to https://goizueta.emory.edu/faculty/profiles/display.aspx?username={R:2}{R:3}
RewriteRule ^faculty/academic_areas/(.*)/(.+)-(.+)(.....) /faculty/profiles/display.aspx?username=$2$3 [L,R=302]

#88 -- gmsc/(.*) is replaced with strategic-plan/experiential-learning
RewriteRule ^gmsc/(.*)$ /strategic-plan/experiential-learning [L,R=302]

#89 -- leaderdevelopment/(.*) is replaced with strategic-plan/leadership
RewriteRule ^leaderdevelopment/(.*)$ /strategic-plan/leadership [L,R=302]


# For c "Extract “.html” from all URLs, and “index” resolves to folder level"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)index\.html$ /$1 [L,R=302] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1 [L,R=302] 


# For b "Convert all underscores to hyphens"
# Needs to be after the above redirects
# From https://stackoverflow.com/a/28133915/814492
# if there is only one underscore then replace it by - and redirect
RewriteRule ^([^_]*)_([^_]*)$ /$1-$2 [L,R=302]

# if there are more than one underscores then "repeatedly" replace it by - 
# and set env var USCORE
RewriteRule ^([^_]*)_([^_]*)_(.*) $1-$2-$3 [E=USCORE:1]

# if USCORE env var is set then redirect
RewriteCond %{ENV:REDIRECT_USCORE} =1
RewriteRule ^([^_]+)$ /$1 [L,R=302]
